.logo-color {
  color: rgb(0, 0, 0);
}

.main-nav .logo {
  margin-right: 93px;
}

.logo {
  margin: 24px, 0, 25px, 0;
}

.logo {
  color: var(--logo-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
}
