header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header-mail,
.header-tel {
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: var(--effect-hover-focus-transition) cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contacts {
  @extend %align-list;
  margin-left: auto;
  fill: #757575;
  transition: var(--effect-hover-focus-transition) cubic-bezier(0.4, 0, 0.2, 1);
  li:not(:last-child) {
    margin-right: 50px;
  }
  svg {
    margin-right: 10px;
    transition: var(--effect-hover-focus-transition)
      cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.list-contacts {
  .item {
    &:hover,
    &:focus {
      fill: #2196f3;
    }
  }
}

.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus {
  color: var(--link-hover-color);
}

.header-tel,
.header-mail {
  transition: var(--effect-hover-focus-transition) cubic-bezier(0.4, 0, 0.2, 1);
}

.list-nav {
  .current {
    color: var(--link-hover-color);
  }
}

.link-nav:focus,
.link-nav:hover .list-contacts {
  font-weight: 500;
}
