header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header-contacts__mail,
.header-contacts__tel {
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: var(--effect-hover-focus-transition) cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__list {
  @extend %align-list;
  margin-left: auto;
  fill: #757575;
  transition: var(--effect-hover-focus-transition) cubic-bezier(0.4, 0, 0.2, 1);
  li:not(:last-child) {
    margin-right: 50px;
  }
  svg {
    margin-right: 10px;
    transition: var(--effect-hover-focus-transition)
      cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-contacts__list {
  .header-contacts__item {
    &:hover,
    &:focus {
      fill: #2196f3;
    }
  }
}

.header-contacts__tel:hover,
.header-contacts__tel:focus,
.header-contacts__mail:hover,
.header-contacts__mail:focus {
  color: var(--link-hover-color);
}

.header-contacts__tel,
.header-contacts__mail {
  transition: var(--effect-hover-focus-transition) cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__list {
  .current {
    color: var(--link-hover-color);
  }
}

.main-nav__link:focus,
.main-nav__link:hover .header-contacts__list {
  font-weight: 500;
}
